@use "../base/colors" as clr;
@use "../base/typography" as typo;

.status__pill {
  display: inline-flex;
  align-items: center;
  border: 1px solid clr.$clr-border-line;
  padding: 6px 24px;
  border-radius: 50px;
  width: auto;
  max-width: fit-content;
}
.status__dot {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: clr.$clr_btn-span;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 8px;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: clr.$clr_btn-span;
    z-index: -1;
    animation: pulse 2s infinite ease-out;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.6;
    }
    100% {
      transform: scale(2.9); // crece mucho más
      opacity: 0; // se desvanece
    }
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 40px;
  border: 1px solid clr.$clr_tag;
  color: clr.$clr_tag;
  font: typo.$fontBtn;
  border-radius: 50px;
  text-transform: uppercase;
  transition: 0.3s ease all;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%; // espacio corregido
    width: 100%;
    height: 100%;
    background-color: clr.$clr_tag; // triángulo amarillo
    z-index: -1;
    transition: left 0.2s ease-in-out;
  }
  &:hover {
    color: clr.$clr_white; // texto blanco al hover

    &::after {
      left: 0; // cubre todo el botón
    }
  }
}
