@use "../base/colors" as clr;
@use "../base/typography" as typo;

.card {
  display: flex;
  flex-direction: column;
  &__image-wrapper {
    position: relative;
    overflow: hidden;
    // border: 1px solid clr.$clr-border-line
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 18px;
  }
  &__image {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    transition: transform 0.5s ease;
  }
  &__image-wrapper:hover &__image {
    transform: scale(1.1); // zoom SOLO en la imagen
  }
  &__badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font: typo.$fontLabelTag;
    padding: 6px 14px;
    border-radius: 50px;
    z-index: 2;

    &--primary {
      position: absolute;
      background-color: clr.$clr_tag;
      color: clr.$clr_white;
      top: 17px;
      right: 17px;
    }
    &--secondary {
      border: 1px solid clr.$clr_tag;
      color: clr.$clr_tag;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  &__title-bar {
    display: inherit;
    justify-content: space-between;
  }
  &__title {
    font: typo.$fontH3;
    color: clr.$clr_text_primary;
  }

  &__actions {
    display: inherit;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  //   &__action {
  //     border: 1px solid green;
  //   }

  &__desc {
    font: typo.$fontDesciptionCard1;
  }
  &__tags {
    display: inherit;
    gap: 8px;
  }
  &__tag {
    background-color: rgba(clr.$clr_tag, 0.1);
    padding: 6px;
    border-radius: 4px;
    font: typo.$fontLabelStackTech;
    color: clr.$clr_tag;
  }
}

.card--default {
  .card__body {
    padding: 15px 0;
    gap: 10px;
  }
  .card__image {
    border-radius: 18px;
  }
}
.card--project {
  border: 1px solid clr.$clr-border-line;
  padding: 24px;
  border-radius: 8px;
  justify-content: space-between;
  gap: 20px;
  .card__body {
    flex-direction: column;
    gap: 10px;
  }
  .card__title {
    font: typo.$fontH4;
  }
  .card__desc {
    font: typo.$fontDesciptionCard2;
  }
  .card__icon-folder {
    width: 45px;
  }
  .card__desc {
    max-height: 200px;
    overflow: hidden;
    display: -webkit-box; // necesario para navegadores basados en webkit
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; // prefijo
    line-clamp: 5;
  }
}
.card--shop {
  border: 1px solid clr.$clr-border-line;
  border-radius: 18px;
  gap: 20px;
  .card__image {
    border-radius: 18px 18px 0 0;
  }
  .card__image-wrapper {
    border-radius: 18px 18px 0 0;
  }
  .card__body,
  .card__title-bar {
    padding: 0 24px;
  }
  .card__body {
    padding-bottom: 24px;
  }
  .card__price {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px 14px;
    border-radius: 6px;
    color: clr.$clr_text_primary;
    background-color: clr.$clr-border-line;
    font: typo.$fontLabelPrice;
  }
}
