// Estilos base de body, html, etc.
@use "../base/typography" as type;
@use "../base/colors" as clr;

.page {
  display: grid;
  grid-template-columns: 320px 1fr;
  height: 100vh;
  font-size: 100%;
  font: type.$fontBody;
  color: clr.$clr_text_body;
  &__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 24px 36px;
    border-right: 1px solid clr.$clr_border_line;
    @media (max-width: 768px) {
      padding: 24px 24px 12px;
    }
  }
  &__main {
    overflow-y: auto; // scroll solo aquí
    display: flex;
    flex-direction: column; // para que header y footer se queden arriba/abajo
    padding: 24px 76px;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
