@use "../base/colors" as clr;
@use "../base/typography" as typo;

.sidebar {
  &__main {
    display: inherit;
    flex-direction: column;
    gap: 24px;
  }
  &__profile {
    display: flex;
    gap: 12px;
    // width: 100%;
    align-items: center;
    padding: 24px 0 48px;
    border-bottom: 1px solid clr.$clr_border_line;
  }
  &__profile-img {
    width: 68px;
    height: 68px;
    border-radius: 6px;
    border: 1px solid clr.$clr_bg_surface;
    filter: contrast(80%);
  }
  &__profile-info {
    display: inherit;
    flex-direction: column;
    gap: 2px;
  }
  &__profile-name {
    font: typo.$fontAsidebarName;
    color: clr.$clr_text_primary;
  }
  &__profile-role {
    font: typo.$fontAsidebarRole;
  }
  /* ====== Navegación ====== */
  &__menu-item {
    width: 100%;
  }
  &__menu-link {
    font: typo.$fontAsidebarNav;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 24px;
    border-radius: 12px;
    transition: background-color 0.2s;
    &:hover {
      background-color: clr.$clr_bg_surface;
      color: clr.$clr_text_primary;
    }
  }
  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }
  &__icon-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* ====== Redes sociales ====== */
  &__social {
    padding: 36px 12px 0px;
    border-top: 1px solid clr.$clr_border_line;
    &-list {
      display: flex;
      justify-content: space-between;
    }
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      &:hover {
        background-color: clr.$clr_bg_surface;
        border-radius: 6px;
      }
    }
  }
}
