$clr_text_primary: #1a1a1a; /* Texto principal, títulos y párrafos */
$clr_text_body: #666666; /* Texto secundario, descripciones */
$clr_white: #ffffff;
$clr_tag: #5e67e6;
$clr_border_line: #e6e6e6;
$clr_bg_surface: #fafafa;
$clr_btn-span: #0bde66;
