// Tipografía global
$fontH1: 400 72px / normal "Antonio", sans-serif;
$fontH2: 600 36px / normal "Antonio", sans-serif;
$fontH3: 400 26px / normal "Antonio", sans-serif;
$fontH4: 400 20px / normal "Antonio", sans-serif;

$fontBody: 300 16px / 27px "Inter", sans-serif;

$fontLabelTag: 300 14px / normal "Inter", sans-serif;
$fontLabelStackTech: 300 12px / normal "Inter", sans-serif;
$fontLabelPrice: 300 16px / normal "Inter", sans-serif;

$fontAsidebarName: 600 18px / normal "Inter", sans-serif;
$fontAsidebarRole: 300 14px / normal "Inter", sans-serif;
$fontAsidebarNav: 400 14px / normal "Inter", sans-serif;

$fontDesciptionCard1: 300 16px / normal "Inter", sans-serif;
$fontDesciptionCard2: 300 14px / 20px "Inter", sans-serif;

$fontBtn: 400 18px / normal "Antonio", sans-serif;
